## E-commerce Purchases Exercise

In [1]:
# Import Pandas and Numpy Library,read the csv file

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Cust_Purch_FakeData.csv")

In [3]:
#display first 5 rows of your data-set
df.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

In [4]:
#The entries of data and number of columns in data
df.shape

(30000, 20)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

In [9]:
#Max and Min ages of data set and find the mean of data set
max_age = df['age'].max()
min_age = df['age'].min()
mean_age = df['age'].mean()

In [11]:
print("Maximum Age:", max_age)

Maximum Age: 65

In [12]:
print("Minimum Age:", min_age)

Minimum Age: 18

In [14]:
print("Mean Age:", round(mean_age,2))

Mean Age: 41.55

In [15]:
#Most common customers name
df['full_name'] = df['first'] + " " + ['last']

In [17]:
top_3_names = df['full_name'].value_counts().head(3)
print(top_3_names)

full_name
Willie last     130
Francis last    124
Eula last        86
Name: count, dtype: int64

In [19]:
#two customers have same phn number
duplicate_phones = df[df.duplicated(subset='phone', keep = False)].sort_values(by='phone')
duplicate_phones[['first','last','phone']]

    first   last           phone
15  Lilly  Tyler  (263) 382-8004
16  Peter   Cain  (263) 382-8004

In [22]:
# profession of structural Engineer
count_structural = df[df['profession'] == 'Structural Engineer']
print(count_structural)

      prefix    first       last                 email  gender  age  \
15      Mrs.    Lilly      Tyler       kofadu@itohi.tf  Female   38
321     Miss   Mittie       Beck       huw@hotmail.com  Female   18
347      Mr.  Theresa      Woods     keope@hotmail.com  Female   44
628     Miss   Walter  Jefferson          lo@yahoo.com    Male   29
797      Dr.  Harriet     Foster  pegsooja@hotmail.com    Male   27
...      ...      ...        ...                   ...     ...  ...
28399   Mrs.  Leonard      Henry    ajiga@tibhevola.bz  Female   18
28432    Mr.     Lena  Robertson     cihe@daszobzav.fk  Female   60
28497    Dr.      Sam     Gibson             jas@ja.tk  Female   24
29111    Dr.    Lilly       Page            fan@wuz.cf    Male   58
29865   Mrs.      Don   McDaniel           naf@zudu.bj  Female   37

                              company           profession           phone  \
15                          CSX Corp.  Structural Engineer  (263) 382-8004
321                        Paccar Inc  Structural Engineer  (449) 626-2305
347            Grey Global Group Inc.  Structural Engineer  (245) 248-3190
628                          HCA Inc.  Structural Engineer  (218) 765-4118
797         BJ's Wholesale Club, Inc.  Structural Engineer  (268) 232-2925
...                               ...                  ...             ...
28399                Duke Energy Corp  Structural Engineer  (721) 772-8211
28432                        SPX Corp  Structural Engineer  (461) 676-8301
28497      Northeast Utilities System  Structural Engineer  (312) 725-4447
29111                    Tellabs Inc.  Structural Engineer  (628) 952-8876
29865  Anadarko Petroleum Corporation  Structural Engineer  (238) 789-2825

        postal  ...             cc_no   cc_exp                    cc_type  \
15     V7K 1E3  ...    30000000000000  11/2022  Diners Club Carte Blanche
321    X4V 3X0  ...  5130000000000000  08/2020                       Visa
347    P3E 1L7  ...  6200000000000000  09/2019                   Bankcard
628    K0E 3J9  ...  5130000000000000  02/2020                        JCB
797    R0Y 4T4  ...  5200000000000000  12/2028                   Bankcard
...        ...  ...               ...      ...                        ...
28399  P1O 5Q9  ...  5610000000000000  06/2021           American Express
28432  H5K 7E7  ...    36900000000000  02/2024                    Maestro
28497  N6C 8K0  ...  5610000000000000  06/2027  Diners Club Carte Blanche
29111  G5P 7H4  ...    36600000000000  04/2025             China UnionPay
29865  B4A 8Q9  ...  5610000000000000  12/2022                 Mastercard

      price(CAD)  fav_color               ip    weekday ampm        date  \
15          9.61     Yellow    74.124.37.227   Saturday   am  03/30/1985
321        43.81        Red    118.75.16.237     Sunday   am  02/07/1984
347        49.95       Blue    8.231.132.162     Monday   am  04/03/2057
628        79.94      Black   232.170.53.219   Thursday   am  12/02/1928
797        85.57     Yellow    170.60.13.202     Monday   am  07/04/1939
...          ...        ...              ...        ...  ...         ...
28399      41.03      Green   131.15.183.183     Friday   pm  01/20/2013
28432      26.24     Yellow    160.189.15.61  Wednesday   pm  02/28/2012
28497      69.14      Green     129.6.70.145     Friday   pm  11/17/2057
29111      35.87       Blue  202.207.232.184   Saturday   pm  06/14/1975
29865      62.71       Blue  162.233.117.142     Sunday   pm  11/03/1989

          full_name
15       Lilly last
321     Mittie last
347    Theresa last
628     Walter last
797    Harriet last
...             ...
28399  Leonard last
28432     Lena last
28497      Sam last
29111    Lilly last
29865      Don last

[87 rows x 21 columns]

In [25]:
#male customer are structural engineer
male_customer = df[(df['profession'] == 'Structural Engineer') & (df['gender'] == 'Male')]
print(male_customer)

      prefix      first       last                  email gender  age  \
628     Miss     Walter  Jefferson           lo@yahoo.com   Male   29
797      Dr.    Harriet     Foster   pegsooja@hotmail.com   Male   27
1650     Mr.     Dustin    Ballard     irikehah@yahoo.com   Male   60
1891     Dr.     Callie       Ball      obuevpo@yahoo.com   Male   64
2415     Dr.       Lina      Mason          feh@gmail.com   Male   39
3275     Dr.     Amanda     Morgan        okoje@gmail.com   Male   38
3315    Miss      Irene    Coleman           wu@gmail.com   Male   42
4545    Mrs.      Craig      Riley          zut@yahoo.com   Male   62
5361     Mr.     Lenora  Armstrong         miarita@ona.uy   Male   51
6377     Dr.  Charlotte       Bell      tuihaba@uhahan.nu   Male   21
7541     Mr.      Madge    Delgado            ba@ilbuf.ao   Male   65
8425    Mrs.      Keith      Cohen  posmatdu@mojdaliba.in   Male   39
9376     Mr.      Billy     Vaughn          ril@suwhow.bb   Male   19
9789    Miss       Ryan     Adkins          tipuko@zov.td   Male   34
12834   Mrs.    Patrick     Norman      sesilugi@live.com   Male   46
12885   Mrs.       Emma   Robinson           gifge@me.com   Male   35
13002   Miss     Virgie       Reed         pevno@live.com   Male   30
13047    Mr.   Jeanette     Bowman           kor@live.com   Male   46
13707    Mr.     Esther   Sandoval          ilfu@live.com   Male   62
14803   Miss   Mathilda   Harrison        boforkif@me.com   Male   34
14985   Miss     Calvin  Henderson    useelce@outlook.com   Male   31
15183    Dr.      David      Gomez           net@live.com   Male   36
16539   Mrs.     Louise     Carter         oduiruem@be.ba   Male   61
17301   Miss     Virgie   McKenzie          jij@onufoh.al   Male   38
17811   Miss     Lettie       Ross         giga@tupjen.mv   Male   24
17856   Miss      Harry       Owen           mi@sodbag.hn   Male   27
18620   Mrs.     Jennie    Wallace     olaruri@wacuwok.pa   Male   30
20708    Mr.    Anthony   Copeland            sobe@zad.pg   Male   33
21546    Dr.      Danny      Lewis              eti@ci.rs   Male   44
22592   Mrs.       Lulu    Baldwin             viap@en.wf   Male   37
22698    Mr.      Steve     Atkins             tol@toh.eh   Male   22
23174   Miss     Vernon     Graves             iz@uwa.gov   Male   37
23300    Dr.      Leona     Lawson         co@vihbuduw.om   Male   45
23466   Miss       Ruby     Ortega         dam@uvmonew.mx   Male   21
23982    Dr.    Phillip  Schneider               at@ke.ms   Male   19
24141    Mr.     Wesley     Gibson       zup@wufgumvup.br   Male   54
24818    Dr.     Fannie      Riley        igozez@esloh.li   Male   55
26687    Mr.       Earl     Barton          zavet@gibu.si   Male   24
26862   Miss      Jared      Allen             ga@guku.to   Male   36
26964    Mr.    Bernice    Mendoza      etake@oknustus.me   Male   20
27115   Miss        Roy     Bowers          jelohlu@od.fk   Male   24
28059   Mrs.      Edwin     Fowler        otzuvwi@otiv.ne   Male   31
29111    Dr.      Lilly       Page             fan@wuz.cf   Male   58

                                 company           profession           phone  \
628                             HCA Inc.  Structural Engineer  (218) 765-4118
797            BJ's Wholesale Club, Inc.  Structural Engineer  (268) 232-2925
1650         Capital One Financial Corp.  Structural Engineer  (464) 877-7366
1891       Lehman Brothers Holdings Inc.  Structural Engineer  (879) 759-2861
2415    Federated Department Stores Inc.  Structural Engineer  (465) 517-1903
3275      Principal Financial Group Inc.  Structural Engineer  (260) 647-6494
3315               Johnson Controls Inc.  Structural Engineer  (403) 403-6290
4545            Dominion Resources, Inc.  Structural Engineer  (584) 590-2978
5361        Veritas Software Corporation  Structural Engineer  (628) 408-3121
6377                      Hub Group Inc.  Structural Engineer  (204) 841-9176
7541                 ARAMARK Corporation  Structural Engineer  (749) 286-3389
8425                          Fluor Corp  Structural Engineer  (278) 896-9253
9376            Merrill Lynch & Co. Inc.  Structural Engineer  (851) 701-4426
9789                     Aon Corporation  Structural Engineer  (211) 824-9396
12834                E*Trade Group, Inc.  Structural Engineer  (680) 711-4432
12885            York International Corp  Structural Engineer  (271) 772-2034
13002     The McGraw-Hill Companies Inc.  Structural Engineer  (904) 272-7443
13047              Microsoft Corporation  Structural Engineer  (312) 717-3812
13707                     Scotts Company  Structural Engineer  (211) 244-7915
14803                 TransMontaigne Inc  Structural Engineer  (861) 253-5489
14985                     FPL Group Inc.  Structural Engineer  (219) 287-2158
15183              Metaldyne Corporation  Structural Engineer  (275) 477-8689
16539                            TRW Inc  Structural Engineer  (250) 454-5223
17301              Southwest Airlines Co  Structural Engineer  (270) 678-4667
17811              Eastman Kodak Company  Structural Engineer  (904) 718-7171
17856                            UST Inc  Structural Engineer  (447) 452-9693
18620                 JDS Uniphase Corp.  Structural Engineer  (667) 414-4810
20708                      Spherion Corp  Structural Engineer  (974) 992-4162
21546              Teleflex Incorporated  Structural Engineer  (584) 538-9526
22592                ITT Industries Inc.  Structural Engineer  (789) 293-3385
22698     Principal Financial Group Inc.  Structural Engineer  (314) 730-3263
23174                 Markel Corporation  Structural Engineer  (201) 867-7231
23300                     PeopleSoft Inc  Structural Engineer  (421) 743-9940
23466  The May Department Stores Company  Structural Engineer  (804) 541-7812
23982                 Spartan Stores Inc  Structural Engineer  (388) 941-5483
24141          Lennox International Inc.  Structural Engineer  (579) 624-5232
24818                 Lennar Corporation  Structural Engineer  (982) 622-2499
26687         Adobe Systems Incorporated  Structural Engineer  (503) 507-2583
26862      Lehman Brothers Holdings Inc.  Structural Engineer  (624) 878-4795
26964           Precision Castparts Corp  Structural Engineer  (442) 696-7689
27115                           DQE Inc.  Structural Engineer  (821) 327-8294
28059            Progressive Corporation  Structural Engineer  (564) 602-4317
29111                       Tellabs Inc.  Structural Engineer  (628) 952-8876

        postal  ...             cc_no   cc_exp  \
628    K0E 3J9  ...  5130000000000000  02/2020
797    R0Y 4T4  ...  5200000000000000  12/2028
1650   P4E 6X1  ...   343000000000000  05/2026
1891   S5V 9C0  ...  4160000000000000  05/2024
2415   X3H 1K4  ...  6270000000000000  04/2021
3275   R0O 4O7  ...  5020000000000000  05/2027
3315   X3D 3M1  ...  4900000000000000  07/2027
4545   X7B 2G6  ...    30100000000000  10/2023
5361   N2M 1J4  ...  5610000000000000  04/2020
6377   P9T 6Q4  ...  6380000000000000  06/2026
7541   B5L 2L3  ...  6380000000000000  07/2027
8425   J6D 1J3  ...  4210000000000000  04/2021
9376   M0D 7K5  ...    36700000000000  03/2025
9789   E0X 4F3  ...  5460000000000000  07/2022
12834  L1V 9U6  ...  6300000000000000  03/2019
12885  K0V 1T6  ...   342000000000000  07/2027
13002  T3A 1H8  ...  6330000000000000  10/2021
13047  G9S 0S5  ...  4030000000000000  02/2024
13707  E8G 0W0  ...  5140000000000000  05/2021
14803  N5L 8Z3  ...  4030000000000000  06/2028
14985  G9R 4G3  ...  4900000000000000  09/2020
15183  L9E 1F1  ...  6210000000000000  11/2026
16539  T1P 1E7  ...  5610000000000000  07/2021
17301  X7B 4U0  ...  4030000000000000  05/2020
17811  J7C 8X9  ...   344000000000000  04/2018
17856  G0F 4J9  ...   347000000000000  01/2026
18620  P3C 5W2  ...  5020000000000000  03/2025
20708  A5R 2E0  ...  6230000000000000  11/2020
21546  R6K 8J5  ...   201000000000000  10/2026
22592  S8Q 3U6  ...  5120000000000000  02/2027
22698  E4X 9R6  ...  6010000000000000  12/2027
23174  S2J 2L2  ...  6010000000000000  01/2025
23300  R3E 2Q9  ...  5020000000000000  06/2018
23466  N7T 9C8  ...   201000000000000  01/2019
23982  N3R 9N0  ...  6010000000000000  01/2020
24141  K0J 5B2  ...  6370000000000000  10/2026
24818  C5T 7Z8  ...  5200000000000000  10/2018
26687  X0Z 7E8  ...   350000000000000  04/2027
26862  A5O 8C4  ...  4370000000000000  10/2018
26964  B1O 8I6  ...  4030000000000000  11/2020
27115  T0J 4R9  ...  6370000000000000  08/2021
28059  R3K 6D1  ...  6370000000000000  03/2025
29111  G5P 7H4  ...    36600000000000  04/2025

                                  cc_type price(CAD)  fav_color  \
628                                   JCB      79.94      Black
797                              Bankcard      85.57     Yellow
1650                               Switch      95.67        Red
1891                              Maestro       0.79      Green
2415                                  JCB      32.87       Blue
3275                                  JCB      84.53      Black
3315                        Visa Electron      14.06      Black
4545                        Discover Card      62.08      Green
5361                               Switch      12.23        Red
6377   Diners Club United States & Canada      56.31        Red
7541                  Diners Club enRoute      32.70      White
8425                  Diners Club enRoute      65.30      Green
9376                       China UnionPay      27.67        Red
9789                           Mastercard      36.77      Green
12834                       Discover Card      90.98      Black
12885                       Visa Electron      78.29     Yellow
13002                                Solo      83.15        Red
13047           Diners Club International      52.50       Blue
13707                                Solo      15.24       Blue
14803                            Bankcard      47.90     Yellow
14985                       Discover Card      33.39      Black
15183                    American Express      53.46      White
16539                       Discover Card      35.68     Yellow
17301                       Discover Card      15.18      Green
17811                          Mastercard      18.63      Black
17856                                Solo       5.69      White
18620           Diners Club International      76.98      White
20708                    American Express      41.16        Red
21546                            Bankcard      47.54        Red
22592                       Visa Electron       8.90       Blue
22698                      China UnionPay      83.52      Green
23174                             Maestro      29.05       Blue
23300                       Discover Card      97.04       Blue
23466                        InstaPayment      54.53     Yellow
23982                      China UnionPay      13.02      Green
24141                        InstaPayment      58.21      Green
24818                                Visa      50.89     Yellow
26687                        InstaPayment       5.75     Yellow
26862                                Solo      95.92        Red
26964                             Maestro      90.84      White
27115           Diners Club International      94.15      White
28059                            Bankcard      63.52     Yellow
29111                      China UnionPay      35.87       Blue

                    ip    weekday ampm        date       full_name
628     232.170.53.219   Thursday   am  12/02/1928     Walter last
797      170.60.13.202     Monday   am  07/04/1939    Harriet last
1650    213.194.23.168   Thursday   am  03/15/1952     Dustin last
1891     160.101.90.85  Wednesday   pm  01/05/2042     Callie last
2415     146.126.7.223     Friday   pm  03/06/2035       Lina last
3275    50.225.168.164     Monday   am  05/18/2023     Amanda last
3315    216.110.164.55     Monday   am  07/24/1986      Irene last
4545     90.104.50.229  Wednesday   am  01/15/1978      Craig last
5361    110.124.14.193  Wednesday   am  10/07/1916     Lenora last
6377    243.53.247.148   Saturday   pm  05/08/1923  Charlotte last
7541     226.75.235.79   Saturday   am  04/18/1937      Madge last
8425     238.44.116.64     Sunday   am  04/09/1910      Keith last
9376    83.228.100.179    Tuesday   pm  06/02/2025      Billy last
9789      247.127.27.4  Wednesday   am  06/14/1916       Ryan last
12834   172.178.124.83   Saturday   pm  05/05/1983    Patrick last
12885     32.159.61.95     Friday   pm  04/27/2028       Emma last
13002    218.189.82.83   Thursday   pm  10/09/2053     Virgie last
13047   244.236.99.225   Thursday   am  08/27/2039   Jeanette last
13707    83.176.200.99     Friday   pm  11/10/1920     Esther last
14803  232.215.203.101   Saturday   pm  07/08/1915   Mathilda last
14985   239.158.92.166  Wednesday   am  01/15/2023     Calvin last
15183   188.42.232.119   Saturday   am  09/06/1972      David last
16539  208.227.126.139   Thursday   am  04/08/2037     Louise last
17301     16.59.213.35   Saturday   am  06/29/2064     Virgie last
17811   232.215.78.124     Sunday   pm  04/27/1975     Lettie last
17856   247.92.248.171  Wednesday   am  01/26/1900      Harry last
18620    92.128.249.91    Tuesday   am  02/05/2051     Jennie last
20708    93.88.110.125     Sunday   pm  11/23/1936    Anthony last
21546   19.225.158.240     Friday   pm  07/21/1919      Danny last
22592   150.103.88.238     Friday   am  02/28/1976       Lulu last
22698    118.62.254.46   Saturday   am  09/06/2033      Steve last
23174     90.229.35.49    Tuesday   am  12/06/1917     Vernon last
23300  244.179.187.186     Friday   pm  07/14/1966      Leona last
23466   81.240.226.151   Saturday   pm  07/01/2045       Ruby last
23982   149.85.211.135    Tuesday   pm  02/12/1960    Phillip last
24141    132.223.55.51     Sunday   pm  06/01/1969     Wesley last
24818   212.30.116.116    Tuesday   pm  01/02/2018     Fannie last
26687   180.116.15.226   Saturday   pm  04/08/1982       Earl last
26862  150.110.249.234     Sunday   pm  07/24/1954      Jared last
26964   206.14.196.199     Friday   am  12/01/1930    Bernice last
27115    33.78.158.122     Sunday   pm  06/26/1982        Roy last
28059   32.176.199.208     Monday   am  12/22/2041      Edwin last
29111  202.207.232.184   Saturday   pm  06/14/1975      Lilly last

[43 rows x 21 columns]

In [29]:
#find out the female structural engineers from province alberta
female_struct_alberta = df[(df['profession'] == 'Structural Engineer') & (df['gender'] == 'Female') & (df['province'] == 'AB')]
print(female_struct_alberta)

      prefix first      last              email  gender  age  \
8858     Dr.   Roy   Stanley  apiunvo@ehasom.ir  Female   39
9058     Mr.  Lora   Kennedy    dennap@rabac.se  Female   51
24736   Mrs.  Nell  Richards          dob@me.ki  Female   18
29865   Mrs.   Don  McDaniel        naf@zudu.bj  Female   37

                              company           profession           phone  \
8858       Cincinnati Financial Corp.  Structural Engineer  (876) 758-2929
9058              BJ Services Company  Structural Engineer  (305) 786-6959
24736    Telephone & Data Systems Inc  Structural Engineer  (262) 681-5018
29865  Anadarko Petroleum Corporation  Structural Engineer  (238) 789-2825

        postal  ...             cc_no   cc_exp  \
8858   N5A 6L2  ...  6300000000000000  02/2022
9058   N3R 4B7  ...   201000000000000  06/2019
24736  N3Y 3G2  ...   347000000000000  07/2028
29865  B4A 8Q9  ...  5610000000000000  12/2022

                                  cc_type price(CAD)  fav_color  \
8858                         InstaPayment      31.86        Red
9058   Diners Club United States & Canada      53.29      Black
24736                    American Express      76.28       Blue
29865                          Mastercard      62.71       Blue

                    ip    weekday ampm        date  full_name
8858    165.249.159.57     Sunday   pm  12/25/1903   Roy last
9058    42.216.243.206   Thursday   pm  06/06/2028  Lora last
24736     91.16.30.156  Wednesday   pm  07/14/1951  Nell last
29865  162.233.117.142     Sunday   pm  11/03/1989   Don last

[4 rows x 21 columns]

In [30]:
#max,min and average spending
max_spending = df['price(CAD)'].max()
min_spending = df['price(CAD)'].min()
average_spending = df['price(CAD)'].mean()

In [31]:
print("Maximum Spending:", round(max_spending,2))
print("Minimum Spending:", round(min_spending,2))
print("Average Spending:", round(average_spending,2))

Maximum Spending: 100.0
Minimum Spending: 0.0
Average Spending: 49.99

In [34]:
#did not spent anything customer
no_spend_customer = df[df['price(CAD)'] == 0]
print(no_spend_customer)

      prefix  first   last           email  gender  age              company  \
5320     Dr.  Bruce  Bryan  ru@pubuspuh.cl    Male   59  Wal-Mart Stores Inc
10597   Mrs.  Flora  Clark      wad@me.com  Female   27         MetLife Inc.

                profession           phone   postal  ...            cc_no  \
5320   Engineer Technician  (709) 446-8317  H6H 3Y0  ...  201000000000000
10597      Cruise Director  (775) 373-6590  B2U 8K6  ...   30100000000000

        cc_exp                    cc_type price(CAD)  fav_color  \
5320   04/2024                   Bankcard        0.0      White
10597  05/2020  Diners Club Carte Blanche        0.0        Red

                  ip    weekday ampm        date   full_name
5320     82.70.62.64  Wednesday   am  12/11/1900  Bruce last
10597  231.156.15.63   Thursday   pm  08/22/1904  Flora last

[2 rows x 21 columns]

In [36]:
#Those who spent 100CAD or more
high_value_customer = df[df['price(CAD)'] >= 100]
print(high_value_customer)

      prefix    first         last          email  gender  age  \
76      Mrs.  Gregory        Brown     hav@jek.gs  Female   31
21093   Mrs.     Cody  Christensen    get@jovu.ag    Male   28
24385   Miss   Lizzie        Dixon  goh@tuwjaz.gd  Female   38

                         company              profession           phone  \
76           E*Trade Group, Inc.                Novelist  (625) 537-8923
21093        National City Corp.  Hospital Administrator  (261) 737-3292
24385  FleetBoston Financial Co.    Compensation Analyst  (989) 239-1752

        postal  ...             cc_no   cc_exp   cc_type price(CAD)  \
76     X3S 4Q2  ...  6010000000000000  04/2018      Visa      100.0
21093  X0S 1O5  ...   201000000000000  03/2024       JCB      100.0
24385  V8X 9V6  ...  6300000000000000  07/2019  Bankcard      100.0

       fav_color             ip    weekday ampm        date     full_name
76         Green  212.100.18.95     Monday   am  10/23/2063  Gregory last
21093      Green  168.48.19.165  Wednesday   pm  03/28/1955     Cody last
24385       Blue   140.87.99.78   Saturday   pm  03/03/1983   Lizzie last

[3 rows x 21 columns]

In [38]:
#email associated with credit card number
filtered = df[df['cc_no'] == '5020000000000230']
email_count = filtered['email'].count()
print("Total Emails:", email_count)

Total Emails: 0

In [44]:
df['cc_exp'].dtype

dtype('O')

In [45]:
df['cc_exp'] = pd.to_datetime(df['cc_exp'], errors='coerce')

C:\Users\LAPAID\AppData\Local\Temp\ipykernel_8472\3570055514.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['cc_exp'] = pd.to_datetime(df['cc_exp'], errors='coerce')

In [46]:
#cards are expiring in 2019
#sum()
exp_2019 = df[df['cc_exp'].dt.year == 2019]['cc_exp'].count()
print("Cards expiring in 2019:", exp_2019)

Cards expiring in 2019: 2684

In [47]:
#vis as their credit card
visa_count = (df['cc_type'] == 'Visa').sum()
print("Number of Visa users:", visa_count)

Number of Visa users: 1721

In [49]:
#find the customer spent 100CAD using visa
customers_visa_100 = df[
    (df['price(CAD)'] >= 100) &
    (df['cc_type'] == 'Visa')
]

print(customers_visa_100)

   prefix    first   last       email  gender  age              company  \
76   Mrs.  Gregory  Brown  hav@jek.gs  Female   31  E*Trade Group, Inc.

   profession           phone   postal  ...             cc_no     cc_exp  \
76   Novelist  (625) 537-8923  X3S 4Q2  ...  6010000000000000 2018-04-01

   cc_type price(CAD)  fav_color             ip weekday ampm        date  \
76    Visa      100.0      Green  212.100.18.95  Monday   am  10/23/2063

       full_name
76  Gregory last

[1 rows x 21 columns]

In [51]:
#two most common profession
top_two = df['profession'].value_counts().head(2)
print(top_two)

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

In [52]:
#top 5 popular email
top5 = df['email'].value_counts().head(5)
print(top5)

email
me@outlook.com    8
tu@live.com       7
ju@hotmail.com    7
bo@live.com       7
ma@yahoo.com      7
Name: count, dtype: int64

In [53]:
#email with am.edu
count_am_edu = df['email'].apply(lambda x: x.lower().endswith('am.edu')).sum()

print("Number of customers using am.edu:", count_am_edu)

Number of customers using am.edu: 1

In [64]:
#day of the week 
df['date'] = pd.to_datetime(df['date'],errors='coerce')

In [65]:
df['day_of_week'] = df['date'].dt.day_name()

In [68]:
df['date']

0       1930-04-05
1       1926-12-20
2       1931-08-20
3       2001-06-18
4       2045-06-14
           ...
29995   2014-04-18
29996   2068-09-27
29997   1997-09-07
29998   1938-09-08
29999   1956-06-22
Name: date, Length: 30000, dtype: datetime64[ns]

In [69]:
df['date_formatted'] = df['date'].dt.strftime('%d-%m-%Y')
df[['date_formatted', 'day_of_week']].head(10)

  date_formatted day_of_week
0     05-04-1930    Saturday
1     20-12-1926      Monday
2     20-08-1931    Thursday
3     18-06-2001      Monday
4     14-06-2045   Wednesday
5     06-10-2030      Sunday
6     23-09-2044      Friday
7     24-04-2048      Friday
8     21-10-1920    Thursday
9     03-10-2058    Thursday

In [72]:
df['day_of_week'] = df['date'].dt.day_name()

In [73]:
df['date']

0       1930-04-05
1       1926-12-20
2       1931-08-20
3       2001-06-18
4       2045-06-14
           ...
29995   2014-04-18
29996   2068-09-27
29997   1997-09-07
29998   1938-09-08
29999   1956-06-22
Name: date, Length: 30000, dtype: datetime64[ns]

In [74]:
df['weekday']

0           Sunday
1          Tuesday
2        Wednesday
3         Saturday
4           Friday
           ...
29995       Sunday
29996       Sunday
29997       Monday
29998       Monday
29999    Wednesday
Name: weekday, Length: 30000, dtype: object